/* Made By: Ellinor Denkert */


.site-branding
  background-image: url('../Images/headerGroup2.jpeg')
  background-position: center
  height: 600px
  background-repeat: no-repeat
  box-shadow: $standardBoxShadow


.title-image
  background-image: url('../Images/Logo5.png')
  background-repeat: no-repeat
  background-size: 100% auto
  margin: 0 auto
  max-width: 700px
  height: 156px
  position: relative
  top: 65%