/* Made By: Ellinor Denkert */


.site-branding
  background-image: url('../Images/headerNY.jpg')
  background-position: center
  height: 500px
  background-repeat: no-repeat

.title-image
  background-image: url('../Images/Logo2.png')
  background-repeat: no-repeat
  background-size: 100% auto
  margin: 0 auto
  text-align: center
  max-width: 600px
  height: 156px
  position: relative
  top: 60%

@media screen and (min-width: 1160px)
  .site-branding
    background-image: url('../Images/headerNY.jpg')
    width: 1160px
    margin: 0 auto 